{% extends 'home_base.html' %}
{% block title %}
    Forgot Password
{% endblock %}

{% block content %}
<div class="fade-in text-center">
    <div class="container py-5 my-5">
        <div class="row">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Reset Password</h1>
                <form method="POST" class="mt-4">
                    {{ form.hidden_tag() }}
                    <div class="form-group mx-sm-3 mb-2">
                        {{ form.email.label(class="sr-only") }}
                        {{ form.email(class="form-control", placeholder="Enter your email") }}
                    </div>
                    {{ form.SubmitField(class="btn btn-outline-secondary mb-2") }}
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".fade-in").classList.add("show");
    });
</script>

<style>
    .fade-in {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .fade-in.show {
        opacity: 1;
    }
</style>

{% endblock %}
